
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
    }

    
    header {
        background-color: #4CAF50;
        color: white;
        padding: 20px 0;
        text-align: center;
    }
